<p id="notice"><%= notice %></p>

<h2>Clientes:</h2>
<ul>
    <% @clientes.each do |cliente| %>
      <li>
        <%= link_to cliente.usuario ,cliente_path(cliente)%>
        <%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar a #{cliente.usuario}?"} %>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'Registrarse', new_cliente_path %>
