<h3><strong>Bienvenido a SergioShop</strong></h3>

<h4>Opciones Disponibles:</h4>
<ul>
  <li><%= link_to "Ver Productos", productos_path %> (<%=@total_productos%> productos registrados)</li>
  <li><%= link_to "Ver Clientes", clientes_path %> (<%=@total_clientes%> clientes registrados)</li>
</ul>
